<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h4 style='color:green'><%= message %></h4>

    <form action="/save" method="post">
        <table>
           <tr> <td>Name</td> <td><input type="text" name="name"/></td></tr>
           <tr> 
                <td>Category</td> 
                <td>
                 <select name="category">
                    <option label="School">school</option>
                    <option label="Resturant">resturant</option>
                    <option label="Hospital">resturant</option>
                    <option label="Bank">resturant</option>
                    <option label="Picnic">picnic</option>
                </select>  
                </td> 
           </tr>
           <tr> <td>Latitude</td> <td><input type="text" name="lat"/></td> </tr>
           <tr> <td>Longitude</td> <td><input type="text" name="long"/></td> </tr>

           <tr><td><input type="submit" value="Add"/></td><td><a href='/search'>Search</a></td></tr>
       </form>    


  </body>
</html>
